a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

header .container {
    /*padding: 25px 15px;*/
}

header .logo {
    text-transform: uppercase;
}

header nav ul li {
    display: inline-block;
}
