@media screen and (min-width: 320px) and (max-width: 479px) {
	html {
		font-size: 50%;
	}

	.top .container {
		padding: 50px 0;
	}

	.top h1 {
		font-size: 4rem;
		line-height: 3.5rem;
	}

	.top .container > div {
		font-size: 2rem;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	
}

@media screen and (max-width: 767px) {
	header nav {
		display: none;
	}

	.container {
		width: 100%;
	}

	header .logo {
		float: none;
		text-align: center;
	}

	.top ul li {
		width: 100%;
		box-sizing: border-box;
		float: none;
		margin: 20px 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.container {
		width: 100%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1255px) {
	.container {
		width: 100%;
	}
}