html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', serif;
}

.container {
	overflow: hidden;
	width: 1256px;
	margin: 0 auto;
	padding: 68px 0;
}

h1, h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

a {
	text-decoration: none;
}

.read-more {
	text-align: center;
	background-color: white;
	color: #612316;
	border-radius: 27px;
	padding: 20px 60px;
	font-size: 18px;
	font-weight: 400;
}

.read-more:hover {
	transition: .5s;
}